<h1>FoV Calculator</h1>

<%= form_tag calc_fov_path, :method => :post, :class => :well do %>
  <div class="method_radio">
    <%= label_tag "method", "Calculation method" %>
    <%= radio_button_tag "method", "estimate", :checked => true %> Estimate with monitor's native resolution<br />
    <%= radio_button_tag "method", "measurement" %> Measure the monitor
  </div>

  <div id="method_estimate_box">
    <%= label_tag "resolution", "Native resolution" %>
    <%= select_tag "resolution", options_for_select(@resolutions.collect { |r| ["#{r.x} x #{r.y}", r.id] }) %>

    <%= label_tag "monitor_size", "Monitor size in Inch" %>
    <%= select_tag "monitor_size", options_for_select(@monitor_sizes.collect { |m| ["#{m.size}\"", m.id]}) %>
  </div>

  <div id="method_measurement_box">
    <%= label_tag "monitor_width", "Monitor's width" %>
    <%= number_field_tag "monitor_width", 50, :min => 1 %>
    <%= select_tag "measurement_unit", options_for_select([["cm", "cm"], ["Inch", "inch"]] ) %>
  </div>


  <%= label_tag "viewing_distance", "Distance Monitor <-> Eyes" %>
  <%= number_field_tag "viewing_distance", 50, :min => 1 %>
  <%= select_tag "viewing_distance_unit", options_for_select([["cm", "cm"], ["Inch", "inch"]]) %>

  <%= submit_tag "Calculate", :class => [:btn, 'btn-primary'] %>
<% end %>