<!DOCTYPE html>
<html>
<head>
  <title>Project C.A.R.S. Field of View Calculator</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= image_tag "cars_banner1.png" %>

    <%= flash_messages %>

    <%= yield %>
  </div>

</body>
</html>
